<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qyqjava.mapper.CoordinateMapper">
	<resultMap id="BaseResultMap"
		type="com.qyqjava.pojo.Coordinate">
		<id column="no" property="no" jdbcType="INTEGER" />
		<result column="nameId" property="nameid" jdbcType="VARCHAR" />
		<result column="x" property="x" jdbcType="DOUBLE" />
		<result column="y" property="y" jdbcType="DOUBLE" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		no, nameId, x, y
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.qyqjava.pojo.CoordinateExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from coordinate
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from coordinate
		where no = #{no,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from coordinate
		where no = #{no,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample"
		parameterType="com.qyqjava.pojo.CoordinateExample">
		delete from coordinate
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.qyqjava.pojo.Coordinate">
		insert into coordinate (no, nameId, x,
		y)
		values (#{no,jdbcType=INTEGER}, #{nameid,jdbcType=VARCHAR},
		#{x,jdbcType=DOUBLE},
		#{y,jdbcType=DOUBLE})
	</insert>
	<insert id="insertSelective"
		parameterType="com.qyqjava.pojo.Coordinate">
		insert into coordinate
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="no != null">
				no,
			</if>
			<if test="nameid != null">
				nameId,
			</if>
			<if test="x != null">
				x,
			</if>
			<if test="y != null">
				y,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="no != null">
				#{no,jdbcType=INTEGER},
			</if>
			<if test="nameid != null">
				#{nameid,jdbcType=VARCHAR},
			</if>
			<if test="x != null">
				#{x,jdbcType=DOUBLE},
			</if>
			<if test="y != null">
				#{y,jdbcType=DOUBLE},
			</if>
		</trim>
	</insert>
	<select id="countByExample"
		parameterType="com.qyqjava.pojo.CoordinateExample"
		resultType="java.lang.Integer">
		select count(*) from coordinate
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update coordinate
		<set>
			<if test="record.no != null">
				no = #{record.no,jdbcType=INTEGER},
			</if>
			<if test="record.nameid != null">
				nameId = #{record.nameid,jdbcType=VARCHAR},
			</if>
			<if test="record.x != null">
				x = #{record.x,jdbcType=DOUBLE},
			</if>
			<if test="record.y != null">
				y = #{record.y,jdbcType=DOUBLE},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update coordinate
		set no = #{record.no,jdbcType=INTEGER},
		nameId = #{record.nameid,jdbcType=VARCHAR},
		x = #{record.x,jdbcType=DOUBLE},
		y = #{record.y,jdbcType=DOUBLE}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.qyqjava.pojo.Coordinate">
		update coordinate
		<set>
			<if test="nameid != null">
				nameId = #{nameid,jdbcType=VARCHAR},
			</if>
			<if test="x != null">
				x = #{x,jdbcType=DOUBLE},
			</if>
			<if test="y != null">
				y = #{y,jdbcType=DOUBLE},
			</if>
		</set>
		where no = #{no,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.qyqjava.pojo.Coordinate">
		update coordinate
		set nameId = #{nameid,jdbcType=VARCHAR},
		x = #{x,jdbcType=DOUBLE},
		y = #{y,jdbcType=DOUBLE}
		where no = #{no,jdbcType=INTEGER}
	</update>

	<!-- 查找仓库的坐标 -->
	<select id="showXY" resultType="Map">
		SELECT coor.x,coor.y FROM wrehouse wre,coordinate coor WHERE
		wre.Wrehouse_Name = coor.nameId
	</select>


</mapper>