<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qyqjava.mapper.InwrehouseMapper" >
  <resultMap id="BaseResultMap" type="com.qyqjava.pojo.Inwrehouse" >
    <id column="inwrehouse_id" property="inwrehouseId" jdbcType="INTEGER" />
    <result column="inwrehouse_time" property="inwrehouseTime" jdbcType="TIMESTAMP" />
    <result column="wrehouse_id" property="wrehouseId" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    inwrehouse_id, inwrehouse_time, wrehouse_id, order_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qyqjava.pojo.InwrehouseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from inwrehouse
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from inwrehouse
    where inwrehouse_id = #{inwrehouseId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from inwrehouse
    where inwrehouse_id = #{inwrehouseId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.qyqjava.pojo.InwrehouseExample" >
    delete from inwrehouse
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qyqjava.pojo.Inwrehouse" >
    insert into inwrehouse (inwrehouse_id, inwrehouse_time, wrehouse_id, 
      order_id)
    values (#{inwrehouseId,jdbcType=INTEGER}, #{inwrehouseTime,jdbcType=TIMESTAMP}, #{wrehouseId,jdbcType=INTEGER}, 
      #{orderId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qyqjava.pojo.Inwrehouse" >
    insert into inwrehouse
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="inwrehouseId != null" >
        inwrehouse_id,
      </if>
      <if test="inwrehouseTime != null" >
        inwrehouse_time,
      </if>
      <if test="wrehouseId != null" >
        wrehouse_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="inwrehouseId != null" >
        #{inwrehouseId,jdbcType=INTEGER},
      </if>
      <if test="inwrehouseTime != null" >
        #{inwrehouseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="wrehouseId != null" >
        #{wrehouseId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qyqjava.pojo.InwrehouseExample" resultType="java.lang.Integer" >
    select count(*) from inwrehouse
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update inwrehouse
    <set >
      <if test="record.inwrehouseId != null" >
        inwrehouse_id = #{record.inwrehouseId,jdbcType=INTEGER},
      </if>
      <if test="record.inwrehouseTime != null" >
        inwrehouse_time = #{record.inwrehouseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.wrehouseId != null" >
        wrehouse_id = #{record.wrehouseId,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update inwrehouse
    set inwrehouse_id = #{record.inwrehouseId,jdbcType=INTEGER},
      inwrehouse_time = #{record.inwrehouseTime,jdbcType=TIMESTAMP},
      wrehouse_id = #{record.wrehouseId,jdbcType=INTEGER},
      order_id = #{record.orderId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qyqjava.pojo.Inwrehouse" >
    update inwrehouse
    <set >
      <if test="inwrehouseTime != null" >
        inwrehouse_time = #{inwrehouseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="wrehouseId != null" >
        wrehouse_id = #{wrehouseId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
    </set>
    where inwrehouse_id = #{inwrehouseId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qyqjava.pojo.Inwrehouse" >
    update inwrehouse
    set inwrehouse_time = #{inwrehouseTime,jdbcType=TIMESTAMP},
      wrehouse_id = #{wrehouseId,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=INTEGER}
    where inwrehouse_id = #{inwrehouseId,jdbcType=INTEGER}
  </update>
</mapper>