<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qyqjava.mapper.WrehouseMapper">
	<resultMap id="BaseResultMap"
		type="com.qyqjava.pojo.Wrehouse">
		<id column="Wrehouse_ID" property="wrehouseId" jdbcType="INTEGER" />
		<result column="Wrehouse_Address" property="wrehouseAddress"
			jdbcType="INTEGER" />
		<result column="Wrehouse_Name" property="wrehouseName"
			jdbcType="VARCHAR" />
		<result column="Wrehouse_Phone" property="wrehousePhone"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		Wrehouse_ID, Wrehouse_Address, Wrehouse_Name, Wrehouse_Phone
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.qyqjava.pojo.WrehouseExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from wrehouse
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from wrehouse
		where Wrehouse_ID = #{wrehouseId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from wrehouse
		where Wrehouse_ID = #{wrehouseId,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample"
		parameterType="com.qyqjava.pojo.WrehouseExample">
		delete from wrehouse
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.qyqjava.pojo.Wrehouse">
		insert into wrehouse (Wrehouse_Address, Wrehouse_Name,
		Wrehouse_Phone)
		values (#{wrehouseAddress,jdbcType=INTEGER},
		#{wrehouseName,jdbcType=VARCHAR},
		#{wrehousePhone,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.qyqjava.pojo.Wrehouse">
		insert into wrehouse
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="wrehouseId != null">
				Wrehouse_ID,
			</if>
			<if test="wrehouseAddress != null">
				Wrehouse_Address,
			</if>
			<if test="wrehouseName != null">
				Wrehouse_Name,
			</if>
			<if test="wrehousePhone != null">
				Wrehouse_Phone,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="wrehouseId != null">
				#{wrehouseId,jdbcType=INTEGER},
			</if>
			<if test="wrehouseAddress != null">
				#{wrehouseAddress,jdbcType=INTEGER},
			</if>
			<if test="wrehouseName != null">
				#{wrehouseName,jdbcType=VARCHAR},
			</if>
			<if test="wrehousePhone != null">
				#{wrehousePhone,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample"
		parameterType="com.qyqjava.pojo.WrehouseExample"
		resultType="java.lang.Integer">
		select count(*) from wrehouse
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update wrehouse
		<set>
			<if test="record.wrehouseId != null">
				Wrehouse_ID = #{record.wrehouseId,jdbcType=INTEGER},
			</if>
			<if test="record.wrehouseAddress != null">
				Wrehouse_Address = #{record.wrehouseAddress,jdbcType=INTEGER},
			</if>
			<if test="record.wrehouseName != null">
				Wrehouse_Name = #{record.wrehouseName,jdbcType=VARCHAR},
			</if>
			<if test="record.wrehousePhone != null">
				Wrehouse_Phone = #{record.wrehousePhone,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update wrehouse
		set Wrehouse_ID = #{record.wrehouseId,jdbcType=INTEGER},
		Wrehouse_Address = #{record.wrehouseAddress,jdbcType=INTEGER},
		Wrehouse_Name = #{record.wrehouseName,jdbcType=VARCHAR},
		Wrehouse_Phone = #{record.wrehousePhone,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.qyqjava.pojo.Wrehouse">
		update wrehouse
		<set>
			<if test="wrehouseAddress != null">
				Wrehouse_Address = #{wrehouseAddress,jdbcType=INTEGER},
			</if>
			<if test="wrehouseName != null">
				Wrehouse_Name = #{wrehouseName,jdbcType=VARCHAR},
			</if>
			<if test="wrehousePhone != null">
				Wrehouse_Phone = #{wrehousePhone,jdbcType=VARCHAR},
			</if>
		</set>
		where Wrehouse_ID = #{wrehouseId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.qyqjava.pojo.Wrehouse">
		update wrehouse
		set Wrehouse_Address = #{wrehouseAddress,jdbcType=INTEGER},
		Wrehouse_Name = #{wrehouseName,jdbcType=VARCHAR},
		Wrehouse_Phone = #{wrehousePhone,jdbcType=VARCHAR}
		where Wrehouse_ID = #{wrehouseId,jdbcType=INTEGER}
	</update>
	<!-- 查询视图 -->
	<select id="showWerhouseInfo" resultType="Map">
		SELECT * FROM showwreinfo
	</select>
	<!-- 按条件查询 -->
	<select id="showByRequir"
		parameterType="com.qyqjava.pojo.Wrehouse" resultType="Map">
		select * from showwreinfo where
		<choose>
			<when test="wrehouseAddress != null">
				wrehouse_Address = #{wrehouseAddress}
			</when>
			<when test="wrehouseName != null">
				wrehouse_Name = #{wrehouseName}
			</when>
		</choose>
	</select>
	<select id="showWrehouseID" parameterType="String" resultType="Integer">
		SELECT `Wrehouse_ID` FROM wrehouse WHERE wrehouse_Address = #{wreadd}
	</select>
</mapper>