<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sq.mapper.CarMapper">

	<resultMap id="CarMap" type="com.sq.pojo.Car">
		<result property="carId" column="car_id" />
		<result property="carPlate" column="car_plate" />
		<result property="carWeight" column="car_weight" />
		<result property="carType" column="car_type" />
		<result property="carSize" column="car_size" />
		<result property="carStatus" column="car_status" />
		<result property="temp3" column="temp3" />
		<association property="loads" javaType="com.sq.pojo.CarLoad">
			<result property="carloadId" column="carloadId" />
			<result property="carloads" column="carloads" />
		</association>
		<association property="types" javaType="com.sq.pojo.CarType">
			<result property="cartypeId" column="cartypeId" />
			<result property="cartypes" column="cartypes" />
		</association>
	</resultMap>
	
	<!-- 增加车辆 -->
	<insert id="addCar" parameterType="com.sq.pojo.Car">
		INSERT INTO car (
		  car_plate,
		  car_weight,
		  car_type,
		  car_size,
		  car_status
		)
		VALUES
		  (
		    #{carPlate},
		    #{carWeight},
		    #{carType},
		    #{carSize},
		    #{carStatus}
		  )
	</insert>
	
	<!-- 删除车辆 -->
	<delete id="deleteCarById" parameterType="java.lang.Integer">
		DELETE
		FROM
		  car
		WHERE car_id = #{value}
	</delete>
	<!-- 批量删除 -->
	<delete id="deleteCarMassById" >
		delete from car where car_id in
		<foreach collection="array" item="carId" open="(" close=")" separator=",">
			#{carId}
		</foreach>
	</delete>
	
	<!-- 修改车辆 -->
	<update id="updateCar" parameterType="com.sq.pojo.Car">
		UPDATE
		  car
		SET
		  car_plate = #{carPlate},
		  car_weight = #{carWeight},
		  car_type = #{carType},
		  car_size = #{carSize},
		  car_status = #{carStatus}
		WHERE car_id = #{carId}
	</update>
	
	<!-- 查询一个车辆by carId -->
	<select id="selectCarOneById" parameterType="java.lang.Integer" resultMap="CarMap">
		SELECT
		  car_id,
		  car_plate,
		  car_weight,
		  car_type,
		  car_size,
		  car_status
		FROM
		  car
		WHERE car_id = #{value}
	</select>
	<!-- 查询一个车辆by carPlate -->
	<select id="selectCarOneByPlate" parameterType="java.lang.String" resultMap="CarMap">
		SELECT
		  car_id,
		  car_plate,
		  car_weight,
		  car_type,
		  car_size,
		  car_status
		FROM
		  car
		WHERE car_plate = #{value}
	</select>
	
	<!-- 查询所有车辆的记录数 -->
	<select id="selectCarCountByQueryVo" parameterType="com.sq.pojo.CarQueryVo" resultType="java.lang.Integer">
		SELECT
		  count(1) 
		FROM
		  car
		<where>
			<if test="carPlate != null and carPlate !=''">
				and car_plate like "%"#{carPlate}"%"
			</if>
			<if test="carWeight != null">
				and car_weight = #{carWeight}
			</if>
			<if test="carType != null">
				and car_type = #{carType}
			</if>
			<if test="carStatus != null and carStatus != ''">
				and car_status = #{carStatus}
			</if>
		</where> 
	</select>
	
	
	<!-- 模糊查询 -->
	<select id="selectCarLikeByQueryVo" resultMap="CarMap" parameterType="com.sq.pojo.CarQueryVo">
		SELECT  
		  ca.car_id,
		  ca.car_plate,
		  ca.car_weight,
		  ca.car_type,
		  ca.car_size,
		  ca.car_status,
		  cl.carloads,
		  ct.cartypes
		FROM 
		  car ca,carload cl,cartype ct
		<where>
			<if test="1==1">
				ca.car_weight = cl.carload_id and ca.car_type = ct.cartype_id
			</if>
			<if test="carPlate != null and carPlate !=''">
				and ca.car_plate like "%"#{carPlate}"%"
			</if>
			<if test="carWeight != null">
				and ca.car_weight = #{carWeight}
			</if>
			<if test="carType != null">
				and ca.car_type = #{carType}
			</if>
			<if test="carStatus != null and carStatus != ''">
				and ca.car_status = #{carStatus}
			</if>
		</where>
		limit #{startRow},#{size} 
	</select>
	

</mapper>