<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sq.mapper.CarTypeMapper">
	<resultMap id="cartypeMap" type="com.sq.pojo.CarType">
		<result property="cartypeId" column="cartype_id" />
		<result property="cartypes" column="cartypes" />
	</resultMap>
	<select id="selectTypeAll" resultMap="cartypeMap" >
		SELECT
		  cartype_id,
		  cartypes
		FROM
		  cartype
	</select>


</mapper>