<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sq.mapper.ChinaMapper">
	<resultMap id="chinaMap" type="com.sq.pojo.China">
		<result property="id" column="Id" />
		<result property="name" column="Name" />
		<result property="pid" column="Pid" />
	</resultMap>

	<!-- 查询省区 -->
	<select id="selectprovincebyid" resultMap="chinaMap">
		SELECT
		  Id,
		  Name,
		  Pid
		FROM
		  china
		where
		  id LIKE '%0000'
	</select>


</mapper>