<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sq.mapper.DriverMapper">
	<resultMap id="DriverMap" type="com.sq.pojo.Driver">
		<result property="driverId" column="driver_id" />
		<result property="driverName" column="driver_name" />
		<result property="driverPhone" column="driver_phone" />
		<result property="driverAge" column="driver_age" />
		<result property="driverAddress" column="driver_address" />
		<result property="driverStatus" column="driver_status" />
	</resultMap>
	<!-- 增加司机 -->
	<insert id="addDriver" parameterType="com.sq.pojo.Driver">
		INSERT INTO driver (
		  driver_name,
		  driver_phone,
		  driver_age,
		  driver_address,
		  driver_status
		)
		VALUES
		  (
		    #{driverName},
		    #{driverPhone},
		    #{driverAge},
		    #{driverAddress},
		    #{driverStatus}
		  )
	</insert>
	<!-- 删除司机 -->
	<delete id="deleteDriverById" parameterType="java.lang.Integer">
		DELETE
		FROM
		  driver
		WHERE driver_id = #{value}
	</delete>
	<!-- 修改司机 -->
	<update id="updateDriver" parameterType="com.sq.pojo.Driver">
		UPDATE
		  driver
		<set>
			<if test='driverName != null and driverName != "" '>
				driver_name = #{driverName},
			</if>
			<if test='driverPhone != null and driverPhone != "" '>
				driver_phone = #{driverPhone},
			</if>
			<if test="driverAge != null">
				driver_age = #{driverAge},
			</if>
			<if test='driverAddress != null and driverAddress != "" '>
				driver_address = #{driverAddress},
			</if>
			<if test='driverStatus != null and driverStatus != "" '>
				driver_status = #{driverStatus}
			</if>
		</set>
		WHERE driver_id = #{driverId}
	</update>
	
	<!-- 查询一个by driver_id -->
	<select id="selectDriverOneById" parameterType="java.lang.Integer" resultMap="DriverMap">
		SELECT
		  driver_id,
		  driver_name,
		  driver_phone,
		  driver_age,
		  driver_address,
		  driver_status
		FROM
		  driver
		WHERE   
		  driver_id = #{value}
	</select>
	<!-- 查询查询结果的数量 -->
	<select id="selectDriverCountByQueryVo" parameterType="com.sq.pojo.DriverQueryVo" resultType="java.lang.Integer">
		SELECT
		  count(1) 
		FROM
		  driver
		<where>
			<if test='driverName != null and driverName != ""'>
				and driver_name like "%"#{driverName}"%"
			</if>
			<if test="driverId != null and driverId != 0">
				and driver_id = #{driverId}
			</if>
			<if test='driverPhone != null and driverPhone != ""'>
				and driver_phone = #{driverPhone}
			</if>
			<if test='driverStatus != null and driverStatus != "" '>
				and driver_status = #{driverStatus}
			</if>
		</where> 
	</select>
	
	<!-- 查询分页 模糊查询 -->
	<select id="selectDriverLikeByQueryVo" parameterType="com.sq.pojo.DriverQueryVo" resultMap="DriverMap">
		SELECT
		  driver_id,
		  driver_name,
		  driver_phone,
		  driver_age,
		  driver_address,
		  driver_status
		FROM
		  driver
		<where>
			<if test='driverName != null and driverName != ""'>
				and driver_name like "%"#{driverName}"%"
			</if>
			<if test="driverId != null and driverId != 0">
				and driver_id = #{driverId}
			</if>
			<if test='driverPhone != null and driverPhone != "" '>
				and driver_phone = #{driverPhone}
			</if>
			<if test='driverStatus != null and driverStatus != "" '>
				and driver_status = #{driverStatus}
			</if>
		</where>
		limit #{startRow},#{size} 
	</select>
	<!-- 获得查询列表 -->
	<select id="selectDriverByQueryVo" parameterType="com.sq.pojo.DriverQueryVo" resultMap="DriverMap">
		SELECT
		  driver_id,
		  driver_name,
		  driver_phone,
		  driver_age,
		  driver_address,
		  driver_status
		FROM
		  driver
		<where>
			<if test='driverName != null and driverName != ""'>
				and driver_name like "%"#{driverName}"%"
			</if>
			<if test="driverId != null and driverId != 0">
				and driver_id = #{driverId}
			</if>
			<if test='driverPhone != null and driverPhone != ""'>
				and driver_phone = #{driverPhone}
			</if>
			<if test='driverStatus != null and driverStatus != "" '>
				and driver_status = #{driverStatus}
			</if>
		</where>
	</select>


</mapper>