<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sq.mapper.LineMapper">
	<resultMap type="com.sq.pojo.Line" id="LineMap">
		<result property="lineId" column="lineId" />
		<result property="lineStartpoint" column="lineStartpoint" />
		<result property="lineDestination" column="lineDestination" />
		<result property="lineTime" column="lineTime" />
		<result property="lineTemp1" column="lineTemp1" />
		<result property="lineTemp2" column="lineTemp2" />
		<result property="lineTemp3" column="lineTemp3" />
	</resultMap>

	<!-- 增加路线 -->
	<insert id="addLine" parameterType="com.sq.pojo.Line">
		INSERT INTO line (
		  line_startpoint,
		  line_destination,
		  line_time 
		)
		VALUES
		  (
		    #{lineStartpoint},
		    #{lineDestination},
		    #{lineTime}
		  )
	</insert>

	<!-- 删除路线 -->
	<delete id="deleteLineById" parameterType="java.lang.Integer">
		DELETE
		FROM
		  line
		WHERE line_id = #{value}
	</delete>

	<!-- 批量删除 -->
	<delete id="deleteLineMassById" >
		DELETE
		FROM
		  line
		WHERE line_id in
		<foreach collection="array" item="lineId" open="(" close=")" separator=",">
			#{lineId}
		</foreach>
	</delete>

	<!-- 修改路线 -->
	<update id="updateLine" parameterType="com.sq.pojo.Line">
		UPDATE
		  line
		SET
		  line_startpoint = #{lineStartpoint},
		  line_destination = #{lineDestination},
		  line_time = #{lineTime}
		WHERE line_id = #{lineId}
	</update>

	<!-- 查询单条路线 By lineId -->
	<select id="selectLineOneById" parameterType="java.lang.Integer" resultMap="LineMap">
		SELECT
		  line_id,
		  line_startpoint,
		  line_destination,
		  line_time
		FROM
		  line
		WHERE 
		  line_id = #{value}
	</select>
	
	<!-- 路线查询(条件查询) -->
	<select id="selectLineChoose" parameterType="com.sq.pojo.Line" resultMap="LineMap">
		SELECT
		  line_id,
		  line_startpoint,
		  line_destination,
		  line_time
		FROM
		  line
		<where>
		<choose>
			<when test="lineStartpoint != null">
				and line_startpoint = #{lineStartpoint}
			</when>
			<when test="lineDestination != null">
				and line_destination = #{lineDestination}
			</when>
			<otherwise>
				1=1
			</otherwise>
		</choose>
		</where>
	</select>
	<!-- 查询所有 -->
	<select id="selectLineAll" resultMap="LineMap">
		SELECT
		  line_id,
		  line_startpoint,
		  line_destination,
		  line_time
		FROM
		  line
	</select>
	


</mapper>