<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sq.mapper.OrdersMapper">
	<resultMap type="com.sq.pojo.Orders" id="ordersMap">
		<result property="orderId" column="order_id" />
		<result property="orderMailName" column="order_mailName" />
		<result property="orderMailPhone" column="order_mailPhone" />
		<result property="orderMailAddress" column="order_mailAddress" />
		<result property="recipientsId" column="recipients_id" />
		<result property="orderTime" column="order_time" />
		<result property="orderWeight" column="order_weight" />
		<result property="orderType" column="order_type" />
		<result property="orderMoney" column="order_money" />
		<result property="orderStaffId" column="order_staffId" />
		<result property="orderOffer" column="order_offer" />
		<result property="orderUrgent" column="order_urgent" />
		<result property="orderNowAddress" column="order_nowAddress" />
		<result property="orderState" column="order_state" />
		<association property="recipient" javaType="com.sq.pojo.Recipients">
			<result property="recipientsId" column="recipients_id" />
			<result property="recipientsName" column="recipients_name" />
			<result property="recipientsPhone" column="recipients_phone" />
			<result property="recipientsAddress" column="recipients_address" />
			<result property="userId" column="user_id" />
			<result property="recipientsProvince" column="recipients_province" />
			<result property="provinceCity" column="province_city" />
			<result property="provinceRegion" column="province_region" />
		</association>
	</resultMap>
	<!-- 查询订单(根据id) -->
	<select id="selectOrdersById" resultMap="ordersMap">
		SELECT
		  o.`order_id`,
		  o.`order_mailName`,
		  o.`order_mailPhone`,
		  o.`order_mailAddress`,
		  re.`recipients_province`,
		  DATE_FORMAT(o.`order_time`,'%Y-%m-%d') 'order_time',
		  o.`order_weight`,
		  o.`order_type`,
		  o.`order_money`,
		  o.order_state
		FROM
		  `orders` o,
		  `recipients` re
		WHERE o.`recipients_id` = re.`recipients_id`
		and o.`order_id` in 
		<foreach collection="array" item="id" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</select>






</mapper>