<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sq.mapper.WaybilMapper">
	<resultMap id="waybilMap" type="com.sq.pojo.Waybil" >
		<result property="waybilId" column="waybil_id" />
		<result property="waybilOrderid" column="waybil_orderid" />
		<result property="waybilOid" column="waybil_oid" />
		<association property="order" javaType="com.sq.pojo.Orders">
			<result property="orderId" column="order_Id" />
			<result property="orderMailName" column="order_MailName" />
			<result property="orderMailPhone" column="order_MailPhone" />
			<result property="orderMailAddress" column="order_MailAddress" />
			<result property="recipientsId" column="recipients_Id" />
			<result property="orderTime" column="order_Time" />
			<result property="orderWeight" column="order_Weight" />
			<result property="orderType" column="order_Type" />
			<result property="orderMoney" column="order_Money" />
			<result property="orderStaffId" column="order_StaffId" />
			<result property="orderOffer" column="order_Offer" />
			<result property="orderUrgent" column="order_Urgent" />
			<result property="orderNowAddress" column="order_NowAddress" />
			<result property="orderState" column="order_State" />
			<association property="allocation" javaType="com.sq.pojo.Allocation">
				<result property="no" column="no" />
				<result property="allocationId" column="allocation_Id" />
				<result property="allocationType" column="allocation_Type" />
				<result property="orderId" column="order_Id" />
				<result property="wrehouseId" column="wrehouse_Id" />
				<association property="wrehouse" javaType="com.sq.pojo.Wrehouse">
					<result property="wrehouseId" column="wrehouse_Id" />
					<result property="wrehouseAddress" column="wrehouse_Address" />
					<result property="wrehouseName" column="wrehouse_Name" />
					<result property="wrehousePhone" column="wrehouse_Phone" />
				</association>
			</association>
			<association property="recipient" javaType="com.sq.pojo.Recipients">
				<result property="recipientsId" column="recipients_Id" />
				<result property="recipientsName" column="recipients_Name" />
				<result property="recipientsPhone" column="recipients_Phone" />
				<result property="recipientsAddress" column="recipients_Address" />
				<result property="userId" column="user_Id" />
				<result property="recipientsProvince" column="recipients_Province" />
				<result property="provinceCity" column="province_City" />
				<result property="provinceRegion" column="province_Region" />
			</association>
		</association>
	</resultMap>
	
	<!-- 增加运单 -->
	<insert id="addWaybil" parameterType="com.sq.pojo.Waybil">
		INSERT INTO waybil (
		    waybil_id,
		    waybil_orderid
		)
		VALUES
		   (
		     #{waybilId},
		     #{waybilOrderid}
		   )
	</insert>

	<!-- 删除运单 根据waybil_oid -->
	<delete id="deleteWaybilByWaybilOid" parameterType="java.lang.Integer">
		DELETE
		FROM
		  waybil
		WHERE waybil_oid = #{value}
	</delete>

	<!-- 删除运单 根据waybil_id -->
	<delete id="deleteWaybilByWaybilId" parameterType="java.lang.Integer">
		DELETE
		FROM
		  waybil
		WHERE waybil_id = #{value}
	</delete>
	
	<!-- 批量删除 -->
	<delete id="deleteWaybilMassById">
		DELETE
		FROM
		  waybil
		WHERE waybil_id in
		<foreach collection="array" item="oid" open="(" close=")" separator=",">
			#{oid}
		</foreach>
	</delete>

	<!-- 运单修改 -->
	<update id="updateWaybil" parameterType="com.sq.pojo.Waybil">
		UPDATE
		  waybil
		SET
		  waybil_id = #{waybilId},
		  waybil_orderid = #{waybilOrderid},
		  waybil_oid = #{waybilOid}
		WHERE waybil_oid = #{waybilOid}
	</update>

	<!-- 运单查询(全部) -->
	<select id="selectWaybilAll" resultMap="waybilMap">
		SELECT
		  waybil_id,
		  waybil_orderid,
		  waybil_oid
		FROM
		  waybil
	</select>

	<!-- 运单查询(单个运单)by waybil_id  -->
	<select id="selectWaybilOneById" parameterType="java.lang.Integer" resultMap="waybilMap">
		SELECT
		  waybil_id,
		  waybil_orderid,
		  waybil_oid
		FROM
		  waybil
		WHERE 
		  waybil_id = #{value}
	</select>

	<!-- 运单查询(条件查询) -->
	<select id="selectWaybilChoose" parameterType="com.sq.pojo.Waybil" resultMap="waybilMap">
		SELECT
		  waybil_id,
		  waybil_orderid,
		FROM
		  waybil
		<where>
		<choose>
			<when test="waybil_id != 0">
				and waybil_id = #{waybilId}
			</when>
			<when test="waybil_orderid != 0">
				and waybil_orderid = #{waybilOrderid}
			</when>
			<otherwise>
				1=1
			</otherwise>
		</choose>
		</where>
	</select>
	<!-- 生成运单号的最小值 -->
	<select id="selectMaxWaybilId" resultType="java.lang.Integer">
		SELECT MAX(`waybil_id`) FROM `waybil`
	</select>
	<!-- 批量添加 -->
	<insert id="addWaybilMass">
		INSERT INTO waybil (
		  `waybil_id`,
		  `waybil_orderid`
		)
		VALUES
		<foreach collection="list" item="waybil"  separator=",">
			(#{waybil.waybilId},#{waybil.waybilOrderid})
		</foreach> 
	</insert>
	<!-- 生成运单列表 -->
	<select id="selectWaybilByMany" parameterType="com.sq.pojo.WaybilQueryVo" resultMap="waybilMap">
		SELECT DISTINCT
		  way.`waybil_id`
		FROM
		  `orders` o,
		  `allocation` al,
		  `waybil` way,
		  `wrehouse` wre,
		  `recipients` rec
		<where>
			<if test="1==1">
			    al.`order_ID` = o.`order_id`
			    AND al.`wrehouse_ID` = wre.`Wrehouse_ID`
			    AND way.`waybil_orderid` = o.`order_id`
			    AND rec.`recipients_id` = o.`recipients_id`
			    AND al.`order_ID` != 0
			    AND o.`order_state` = 0
			</if>
			<if test="startPoint != null and startPoint != 0">
				and wre.Wrehouse_ID = #{startPoint}
			</if>
			<if test='endPoint != null and endPoint != "0"'>
				and rec.`recipients_province` like "%"#{endPoint}"%"
			</if>
		</where> 
	</select>
	<!-- 生成运单详情 -->
	<select id="selectWaybilByWaybilId" parameterType="com.sq.pojo.WaybilQueryVo" resultMap="waybilMap">
		SELECT 
		   way.`waybil_id`,
		   way.`waybil_oid`,
		   o.`order_id`,
		   o.`order_type`,
		   o.`order_weight`,
		   o.`order_money`
		FROM
		  `orders` o,
		  `allocation` al,
		  `waybil` way,
		  `wrehouse` wre,
		  `recipients` rec
		<where>
			<if test="1==1">
			    al.`order_ID` = o.`order_id`
			    AND al.`wrehouse_ID` = wre.`Wrehouse_ID`
			    AND way.`waybil_orderid` = o.`order_id`
			    AND rec.`recipients_id` = o.`recipients_id`
			    AND al.`order_ID` != 0
			    AND o.`order_state` = 0
			</if>
			<if test="waybilId != null and waybilId != 0 ">
				and way.`waybil_id` = #{waybilId}
			</if>
			<if test="startPoint != null and startPoint != 0">
				and wre.Wrehouse_ID = #{startPoint}
			</if>
			<if test='endPoint != null and endPoint != "0"'>
				and rec.`recipients_province` like "%"#{endPoint}"%"
			</if>
		</where>
		limit #{startRow},#{size} 
	</select>
	<!-- 生成符合条件的所有运单 -->
	<select id="selectCountByWaybilId" parameterType="com.sq.pojo.WaybilQueryVo" resultType="java.lang.Integer">
		SELECT 
		   count(1)
		FROM
		  `orders` o,
		  `allocation` al,
		  `waybil` way,
		  `wrehouse` wre,
		  `recipients` rec
		<where>
			<if test="1==1">
			    al.`order_ID` = o.`order_id`
			    AND al.`wrehouse_ID` = wre.`Wrehouse_ID`
			    AND way.`waybil_orderid` = o.`order_id`
			    AND rec.`recipients_id` = o.`recipients_id`
			    AND al.`order_ID` != 0
			    AND o.`order_state` = 0
			</if>
			<if test="waybilId != null and waybilId != 0 ">
				and way.`waybil_id` = #{waybilId}
			</if>
			<if test="startPoint != null and startPoint != 0">
				and wre.Wrehouse_ID = #{startPoint}
			</if>
			<if test='endPoint != null and endPoint != "0"'>
				and rec.`recipients_province` like "%"#{endPoint}"%"
			</if>
		</where>
	</select>




</mapper>