<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sq.mapper.WrehouseMapper">
	<resultMap id="WrehouseMap" type="com.sq.pojo.Wrehouse">
		<result property="wrehouseId" column="wrehouse_id" />
		<result property="wrehouseAddress" column="wrehouse_address" />
		<result property="wrehouseName" column="wrehouse_name" />
		<result property="wrehousePhone" column="wrehouse_phone" />
	</resultMap>

	<!-- 查询仓库地点 -->
	<select id="selectWrehouse" resultMap="WrehouseMap">
		SELECT
		  Wrehouse_ID,
		  Wrehouse_Address,
		  Wrehouse_Name,
		  Wrehouse_Phone
		FROM
		   wrehouse
	</select>


</mapper>